<div class="home" [formGroup]="boxForm">
    <div class="row">
        <div class="col">
            <label for="bgColorSelect">Cor de Fundo</label>
            <select id="bgColorSelect" class="form-select" formControlName="backgroundColor">
                <option value="">Abra este menu de seleção</option>
                <option *ngFor="let option of colorOptions" [value]="option">{{option}}</option>
            </select>
        </div>
        <div class="col">
            <label for="txtColorSelect">Cor do Texto</label>
            <select id="txtColorSelect" class="form-select" formControlName="textColor">
                <option value="">Abra este menu de seleção</option>
                <option *ngFor="let option of colorOptions" [value]="option">{{option}}</option>
            </select>
        </div>
        <div class="col">
            <label for="borderRadiusSelect">Raio de Borda</label>
            <select id="borderRadiusSelect" class="form-select" formControlName="borderRadius">
                <option value="">Abra este menu de seleção</option>
                <option *ngFor="let option of borderRadiusOptions" [value]="option">{{option}}</option>
            </select>
        </div>
        <div class="col">
            <label for="sizeSelect">Tamanho</label>
            <select id="sizeSelect" class="form-select" formControlName="size">
                <option value="">Abra este menu de seleção</option>
                <option *ngFor="let option of sizeOptions" [value]="option">{{option}}</option>
            </select>
        </div>
    </div>

    <div class="row" *ngIf="boxStyles$ | async as bStyles">
        <div class="col">
            <div class="box" [ngStyle]="bStyles">
                <div class="box__text">
                    Box
                </div>
            </div>
        </div>
    </div>
</div>