  <!-- Terminal -->
  <div class="terminal">
    <pre>{{count}}</pre>
  </div>

  <div class="card-container">
    
    <button class="card card-small" (click)="addNotification()" tabindex="0">
      <span>Adicionar Notificação</span>
    </button>

    <button class="card card-small" (click)="removeNotification()" tabindex="0">
      <span>Remover Notificação</span>
    </button>

    <button class="card card-small" (click)="resetCount()" tabindex="0">
      <span>Limpar Contador</span>
    </button>

  </div>