<div class="folders">
    <div class="folders__list">
        <app-folder [ngClass]="{
            'folders__list__folder--selected': folder === selectedFolder
          }" (click)="toggleFolderSelect(folder)" class="folders__list__folder" [folder]="folder" *ngFor="let folder of folders"></app-folder>
    </div>
    <div class="folders__selected-folder-files" *ngIf="selectedFolder">
        <app-file class="folders__selected-folder-files__file" [file]="file" *ngFor="let file of selectedFolder.files"></app-file>
    </div>
</div>